.header-top {     
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    height: 20px;
    background-color: rgb(1, 83, 159);
    text-transform: uppercase;    
    padding: 5px 0;
    color: white;
}

.header-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 70px;
    background-color: #221f1f;
}

.menu-icon{
    fill: white;
    width: 24px;
    height: auto;
    transition: 1s;
}

.catalog {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #4e4e4e;
    border-radius: 5px;
    opacity: 1;    
}

.catalog:hover {    
    background-color: rgb(122, 121, 121);
}

.catalog-text {
    padding: 1px 16px;
    color: #ffffff;
}

.search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    margin-top: 15px;
}

.form-search {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.search-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.search-write {
    height: 40px;
    border: 0;
    padding: 0;
    width: 500px;
}

.search-write:active,
.search-write:hover,
.search-write:focus-visible{
    outline: 0;
    outline-offset: 0;
}

.search-text {
    margin-left: -30px;
    background-color: #ffffff;
    color: rgb(218, 216, 216);
}

.search-picture {
    border: 11px solid white;
    margin-left: -27px;
}

.search-find {
    background-color: rgb(0, 188, 82);
    height: 40px;
    width: 85px;
    color: white;
    border: none;
}

.lang, .lang-en, .lang-ua {
    text-decoration: none;
    color: #ffffff;
}

.lang-badge, .lang-ua {
    color: rgb(183, 180, 180);
}

.lang-en:hover {
    color: rgb(248 65 71);
}

.lang-ua:hover {
    color: #ffffff;
}

.login a:hover {
    background-color: rgb(115, 112, 112);
}

.cart a:hover {
    background-color: rgb(115, 112, 112);
}

/*
.switcher{
    display: none;
}

.switcher:checked~.menu-icon{
    fill:forestgreen;
}

.switcher:checked~.left-dropdown{
    left: 0;
    opacity: 1;
}

.left-dropdown{   
    overflow: hidden; 
    background-color: red;
    position: absolute;
    top: 0;
    left: -200px;
    width: 200px;
    opacity: 0;
    transition: 0.3s;
}

.switcher:checked~.catalog-dropdown{
    opacity: 1;
}

.catalog-dropdown{
    position: absolute;
    top: 75px;
    opacity: 0;
    transition: 0.3s;
}

*/

.sidebar {
    display: flex;    
    float: left;
    width: 300px;
}

.sidebar-roster{
    margin: 0;
    padding: 0;
    position: relative;
    width: 300px;    
    padding-top: 24px;
    padding-bottom: 24px;
    list-style: none;
    border-right: 1px solid rgb(233, 233, 233);
    border-bottom: 1px solid rgb(233, 233, 233);
}

.sidebar-roster a:hover {
    color: rgb(248, 65, 71);
    text-decoration: underline;
}

.sidebar-list-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
}

.sidebar-list {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.sidebar-item {
    color: #3e77aa;
    text-decoration: none;
    position: relative;
    z-index: 10;
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 31px;
    transition: all .2s ease;    
}

.sidebar-list-wrap img {
    vertical-align: middle;
}

.sidebar-list-wrap span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 8px;
    margin-left: -12px;
    text-align: center;
}

.new_a a {
    margin: 0;
    padding: 0;
}

.side-panel {
    margin: 0;
    padding: 0;
    position: relative;
    width: 300px;
    list-style: none;
    border-right: 1px solid rgb(233, 233, 233);
    border-bottom: 1px solid rgb(233, 233, 233);
}

.side-panel a:hover {
    color: rgb(248, 65, 71);
    text-decoration: underline;
}

.side-panel-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;    
    border-top: 1px solid #e9e9e9;
    font-size: 14px;
    border-radius: 0;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    width: 300px;
}

.sidebar-enter-acc {
    width: 252px;
    padding: 16px 24px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background-color: #f4f4f4;
    text-align: center;
    border-right: 1px solid rgb(233, 233, 233);
}

.enter-acc-title {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    font-size: 20px;    
    font-weight: 100;
}

.sidebar-enter-acc p {
    margin-bottom: 12px;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
}

.enter-acc-knob {
    border-radius: 3px;
    background-color: #3e77aa;
    color: #fff;
    margin-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 15px;
    height: 32px;
    border: none;
}

.enter-acc-knob:hover {
    background-color: #4096e3;
    color: #fff;
}

.sidebar-our-apps {    
    padding: 16px 24px;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
}

.sidebar-our-apps a {    
    text-decoration: none;
}

.sidebar-our-apps-title, .sidebar-social-title, .about-company-title, .help-title, .service-title, .partner-title {
    margin: 0;
    padding: 0;
    font-weight: 100;
    margin-bottom: 12px;
    font-size: 14px;
    color: #797878;
    
}
.sidebar-our-apps-google-play {
    width: 102px;
    height: 32px;
}

.sidebar-our-apps-app-store {
    width: 102px;
    height: 32px;
}

.sidebar-social {        
    padding: 16px 24px;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
}

.sidebar-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-social-roster {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.sidebar-info {
    padding: 16px 24px;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
}

.about-company, .help, .service, .partner {
    padding-top: 8px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e9e9e9;
}

.about-company-container, .help-container, .service-container, .partner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding-left: 8px;
    padding-right: 8px;
}

.about-company-roster, .help-roster, .service-roster, .partner-roster {
    margin: 0;
    padding: 0;
    list-style: none;    
}

.about-company-list, .help-list, .service-list, .partner-list {
    padding: 2px 4px;   
}

.about-company-item, .help-item, .service-item, .partner-item {
    text-decoration: none;
    display: block;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 14px;
    line-height: 32px;
    color: #221f1f;
}

.about-company-item:hover, .help-item:hover, .service-item:hover, .partner-item:hover{
    text-decoration: underline;
}

.sidebar-footer{
    padding: 16px 24px;
    border-right: 1px solid #e9e9e9;
}

.aside-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 16px;
    margin-top: 16px;
}

.sidebar-footer-knob{
    padding: 0;
    border: none;
}

.sidebar-footer-knob-visa{
    margin-left: 20px;
}

.popup, .popup-visa{    
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup-background, .popup-visa-background{
    background-color: black;
    display: block;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.popup:target, .popup-visa:target{
    display: flex;
}

.popup-content, .popup-visa-content{
    max-width: 640px;
    background-color: white;
    color: #000;  
    height: auto;
    max-height: 100%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 8px 40px #00000052;  
}

.popup-title, .popup-visa-title{
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    height: 57px;
    padding-left: 16px;
    padding-right: 68px;
    box-sizing: border-box;
    border-bottom: 1px solid #e9e9e9;
    padding-left: 24px;
    padding-right: 24px;
}

.popup-title h3, .popup-visa-title h3{
    font-size: 24px;
    font-weight: 100;    
}

.popup-title a, .popup-visa-title a {    
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #fffc;
    border: none;
    border-radius: 8px;    
    padding: 0;
    transition: all .2s ease;    
    text-decoration: none;
}

.popup-title a:hover, .popup-visa-title a:hover{
    color: red;
    text-decoration: none;
}

.popup-text, .popup-visa-text{
    max-width: 635px;
    padding: 24px;
    font-size: 14px;
    line-height: 21px;
}

.sidebar-copyright{
    color: #797878;
    font-size: 12px;
    line-height: 14px;
}

.sidebar-copyright p+p{
    margin-top: 12px;
}

.slider{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden; 
}

.main{
    padding: 0;
}

.content{
    width: calc(100% - 340px);
    float: left;
    overflow: hidden;
    padding-top: 40px;
    padding-left: 40px;
}

.slide {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
    animation: slide ease-in-out 20s;
	animation-iteration-count: infinite;
}

.slide>img {
    width: 100%;
    height: auto;
}
.slider-stub{
    width: 100%;
    height: auto;
}

@keyframes slide {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(-100%, 0);
        opacity: 1;
    }
    10.01%{
        transform: translate(-100%, 0);
        opacity: 0;
    }
    79.99%{
        transform: translate(100%, 0);
        opacity: 0;
    }
    80% {
        transform: translate(100%, 0);
        opacity: 1;
    }
    90% {
        transform: translate(0, 0);
    }
}

.slide:nth-of-type(1) { 
    animation-delay: 0s;
}

.slide:nth-of-type(2) { 
    animation-delay: -4s;
}

.slide:nth-of-type(3) { 
    animation-delay: -8s;
}
   
.slide:nth-of-type(4) { 
    animation-delay: -12s;
}

.slide:nth-of-type(5) { 
    animation-delay: -16s;
}

.all-action {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: #fff;
    list-style: none;
}

.all-action-item {
    display: flex;
    flex-direction: row;          
    align-items: center;
    padding-left: 48px;
    padding-right: 48px;
    border: 1px solid #e9e9e9;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 40px;
    white-space: nowrap;
    text-decoration: none;
}

.all-action-item:hover {
    color: red;
}

.all-action-number {
    margin-left: 8px;
    color: #a6a5a5;
}

.content-promo{
    margin-bottom: 65px;
}

.promo-title {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 100;
}

.promo-roster{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin-bottom: 0;  
    height: 350px;
    overflow: hidden;
    transition: all;
    transition-duration: 1s;
}

#continua-promo:target .promo-roster{
    height: 700px;
}
#continua-promo:target .more-container{
    opacity: 0;
}

.promo-list{
    flex: 0 0 25%;
}

.promo-list .box-container{
    height: 350px;
    position: relative;
    box-sizing: border-box;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    padding: 16px;
}

.promo-side-top {
    height: 140px;
    margin-top: 25px;
}

.side-top-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.promo-side-bottom {
    margin-top: 25px;
}

.side-bottom-item {
    display: block;
    height: 40px;
    margin-bottom: 8px;
    overflow: hidden;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

.side-bottom-item:hover {
    color: red;
    text-decoration: underline;
}

.price-through {
    color: #a6a5a5;
    text-decoration: line-through;
}

.prise-promo {
    color: #f84147;
    font-size: 24px;
    margin-top: 20px;
}

.prise {
    color: #000;
    font-size: 24px;
    margin-top: 20px;
}

.more-container{
    list-style: none;
    float: right;
    border: 1px solid #e9e9e9;
    border-top: none;
    opacity: 1;
    transition: 1s;
}

.show-more{
    text-decoration: none;    
    padding: 45px;    
    box-sizing: border-box;
    font-size: 14px;
    line-height: 40px;
}

.show-more:hover{
    color: red;
}

.show-more:target{
    display: none;
}

.promo-checkbox{
    position: absolute; 
    left: 150px;
    width: 27px; 
    height: 24px;
    border-radius: 4px;
    background-color: white;
    border: 2px solid white;
}

.promo-checkbox:hover{
    border: 2px solid lightblue;
}

.promo-checkbox input[type="checkbox"]{
    display: none;
}

.promo-checkbox input[type="checkbox"]+span{
    width: 100%; 
    height: 100%;
    display: block;
    background: url("img/check/hart.jpg") center no-repeat;
}

.promo-checkbox input[type="checkbox"]:checked+span{
    background-position: 0 -26px;
    background: url("img/check/paint-hart.jpg") center no-repeat;
}

.more-target{
    display: none;
}

@media (min-width: 1080px){
    .main {
        padding: 0 30px;
    }   
    .promo-list {
        flex: 0 0 16.666%;
    }
}

.video-container{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.video-container-title{
    font-size: 20px;
    font-family: Arial,Segoe UI,Roboto,Helvetica,sans-serif;
    font-weight: 100;
    margin-bottom: 16px;
}

.video-container-item{
    text-decoration: none;
    color: #3e77aa;
}

.video-container-item:hover{
    text-decoration: underline;
    color: red;
}

.youtube-picture{
    float: right;
}

.video-roster {    
    background-color: #4d4b4b;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;    
}

.video-list {
    list-style: none;
    width: 25%;
    padding: 16px;
    box-sizing: border-box;
}

.video-list-container button {
    background-color: #4d4b4b;
    border: none;
}

.video-list-container button {
    padding: 0;
    margin: 0;
}

.video-list-item {
    position: relative;
}

.img-play{
    position: absolute;
    left: 44%;
    top: 39%;
    border-radius: 50%;
}

.video-list-item-clock {
    position: absolute;
    background: #221f1f;
    color: white;
    bottom: 8px;
    right: 8px;
    padding: 2px;
    height: 16px;
    border-radius: 2px;
}

.video-list-text {
    margin-bottom: 8px;
    font-size: 14px;
    color: #fff;
    text-align: start;
}

.video-list-time{
    font-size: 12px;
    color: #d2d2d2;
    text-align: start;
}

.video-list-item{
    display: block;
}

.iframe-video{
    display: none;
}

.effect:checked+.preview .video-list-item{
    display: none;
}

.effect:checked+.preview .iframe-video{
    display: block;
    border: none;
}

.effect{
    display: none;    
}